# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
*.pyc

# =========================
# Node
# =========================
frontend/node_modules/

# =========================
# Environment Variables
# =========================
backend/.env
frontend/.env

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db